@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 213 58% 17%;
    --hero-background: 227 55% 12%;
    --card: 0 0% 100%;
    --card-foreground: 213 58% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 213 58% 17%;
    --primary: 213 58% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 213 58% 27%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 22 62% 81%;
    --accent-foreground: 213 58% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 213 58% 27%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 213 58% 9%;
    --foreground: 0 0% 98%;
    --hero-background: 227 55% 12%;
    --card: 213 58% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 213 58% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 22 62% 81%;
    --primary-foreground: 213 58% 17%;
    --secondary: 213 58% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 213 58% 17%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 22 62% 71%;
    --accent-foreground: 213 58% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 58% 17%;
    --input: 213 58% 17%;
    --ring: 22 62% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
